
<section id="page-breadcrumb">
    <div class="vertical-center sun">
         <div class="container">
            <div class="row">
                <div class="action" style="background-image: url({{ $.Site.BaseURL }}images/home/tour-bg.png);">
                    <div class="col-sm-12">
                        <h1 class="title" style="color:#f9fcf6">
                            <span class="letter myFontHead" data-letter="C">Carrier</span></h1>
                        <p style="color:#f9fcf6" >Why our Clients love to work with us.</p>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="margin-bottom myFontHead">Openings</h1>
                </div>
            </div>
        </div>
</section>

<section id="about-openings-data" class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row" style="padding:8px;">
                <div class="col-md-4 python text-center" style="margin:8px;">
                  <img src="{{ $.Site.BaseURL }}images/carrear/developer.png" class="careers-img" alt="">
                  <h2 class="myFontHead" style="color:white;">Python Developer</h2>
                </div>
                <div class="col-md-4 android-carrear text-center" style="margin:8px;">
                  <img src="{{ $.Site.BaseURL }}images/carrear/android1.png" class="careers-img-andor" alt="">
                  <h2 class="myFontHead" style="color:white;">Android Developer</h2>
                </div>
                <div class="col-md-4 webdesign-carrear text-center" style="margin:8px;">
                  <img src="{{ $.Site.BaseURL }}images/carrear/designer1.png" class="careers-img-web" alt="">
                  <h2 class="myFontHead" style="color:white;">Web Designer</h2>
                </div>
            </div>
            <div class="row" style="padding:8px;">
                <div class="col-md-4 webdesign-carrear text-center" style="margin:8px;">
                  <img src="{{ $.Site.BaseURL }}images/carrear/leader1.png" class="careers-img-leader" alt="">
                  <h2 class="myFontHead" style="color:white;">Project Developer</h2>
                </div>
                <div class="col-md-4 intern-carrear text-center" style="margin:8px;">
                  <img src="{{ $.Site.BaseURL }}images/carrear/internship1.png" class="careers-img-inter" alt="">
                  <h2 class="myFontHead" style="color:white;">Internship</h2>
                </div>
                <div class="col-md-4 ios-carrear text-center" style="margin:8px;">
                  <img src="{{ $.Site.BaseURL }}images/carrear/android1.png" class="careers-img-andor" alt="">
                  <h2 class="myFontHead" style="color:white;">iOS Developer</h2>
                </div>
            </div>
        </div>
</section>
<br><br>

<section id="about-form" class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="margin-bottom myFontHead">APPLY HERE</h1>
                </div>
            </div>
        </div>
        <form class="form-horizontal" id="carrearformsubmit">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left">
              <img class="carrear-title-logo" src='{{ $.Site.BaseURL }}images/carrear/personal.png'>
              <div style='' class="carrear-title-area">
                &nbsp;&nbsp;&nbsp;<h2 class="myFontHead carrear-title">Personal Information</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="service_box_container">
          <div class="row">
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="email"><h4 class="form-carrear-label myFontHead">Name<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="age"><h4 class="form-carrear-label myFontHead">Age<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age">
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="gender"><h4 class="form-carrear-label myFontHead">Gender<sup>*</sup>:</h4></label>
                <div class="col-sm-6 text-left" >
                    <div class="" style="vertical-align:middle;padding:10px;">
                      <input type="radio" id="male" name="gender" value='male'> Male
                      <input type="radio" id="female" name="gender" value='female'> Female
                    </div>
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="gender"><h4 class="form-carrear-label myFontHead">Date of birth<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="dob" placeholder="Date Of Birth" name="dob">
                </div>
                <div class="col-sm-1"></div>
              </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left">
              <img class="carrear-title-logo" src='{{ $.Site.BaseURL }}images/carrear/education.png'>
              <div style='' class="carrear-title-area">
                &nbsp;&nbsp;&nbsp;<h2 class="myFontHead carrear-title">Educational Information</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="service_box_container">
          <div class="row">
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="email"><h4 class="form-carrear-label myFontHead">Graduating Collage/University<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id='collage' placeholder="Graduating Collage/University" name="collage">
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="age"><h4 class="form-carrear-label myFontHead">Start Year<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="startyear" placeholder="Start Year" name="startyear" pattern="[0-9]" />
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="age"><h4 class="form-carrear-label myFontHead">End Year<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="endyear" placeholder="End Year" name="endyear" pattern="[0-9]" />
                </div>
                <div class="col-sm-1"></div>
              </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left">
              <img class="carrear-title-logo" src='{{ $.Site.BaseURL }}images/carrear/job.png'>
              <div style='' class="carrear-title-area">
                &nbsp;&nbsp;&nbsp;<h2 class="myFontHead carrear-title">Job Information</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="service_box_container">
          <div class="row">
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="email"><h4 class="form-carrear-label myFontHead">Current Designation<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Current Designation" id="current_designation" name="current_designation">
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="age"><h4 class="form-carrear-label myFontHead">Current Salary<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Current Salary" name="current_salary" id="current_salary" pattern="[0-9]" />
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="age"><h4 class="form-carrear-label myFontHead">Experiance<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Experiance" name="experiance" id="experiance" pattern="[0-9]" />
                </div>
                <div class="col-sm-1"></div>
              </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left">
              <img class="carrear-title-logo" src='{{ $.Site.BaseURL }}images/carrear/apply.png'>
              <div style='' class="carrear-title-area">
                &nbsp;&nbsp;&nbsp;<h2 class="myFontHead carrear-title">Apply Information</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="service_box_container">
          <div class="row">
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="email"><h4 class="form-carrear-label myFontHead">Applying For<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" placeholder="Applying For" name="apply_for" id="apply_for">
                </div>
                <div class="col-sm-1"></div>
              </div>
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="age"><h4 class="form-carrear-label myFontHead">Interview Date Time<sup>*</sup>:</h4></label>
                <div class="col-sm-6">
                  <input type="datetime" class="form-control" placeholder="Interview date and time" name="interview_datetime" id="interview_datetime" pattern="[0-9]" />
                </div>
                <div class="col-sm-1"></div>
              </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-left">
              <img class="carrear-title-logo" src='{{ $.Site.BaseURL }}images/carrear/message.png'>
              <div style='' class="carrear-title-area">
                &nbsp;&nbsp;&nbsp;<h2 class="myFontHead carrear-title">Message</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="service_box_container">
          <div class="row">
              <div class="form-group">
                <div class="col-sm-1"></div>
                <label class="control-label col-sm-2" for="email"><h4 class="form-carrear-label myFontHead">Message:</h4></label>
                <div class="col-sm-6">
                  <textarea name="message" placeholder="Type Your Message..." rows="5" cols="80" class="form-control"></textarea>
                </div>
                <div class="col-sm-1"></div>
              </div>
          </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-sm-4 text-center"></div>
                <div class="col-sm-4 text-center">
                    <input type="submit" name="submit" id="submit" class="btn btn-submit" value="Submit">
                </div>
              <div class="col-sm-4 text-center"></div>
            </div>
        </div>
      </form>
</section>
<br><br><br>
<script type="text/javascript">
  $('#interview_datetime').datetimepicker({
    format:'d/m/Y H:i'
  });
  $('#dob').datetimepicker({
    timepicker: false,
    format:'d/m/Y'
  });
</script>
<div class="container">
  <div class="pist_line "></div>
</div>
<br><br>
